Tourenbuch/Connected Services/ServiceReference1/TourenbuchService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://desktop-9fie55k/TourenbuchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" />
  <xs:element name="TryConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TryConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TryConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooks">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="GetAllBooksResult" nillable="true" type="q1:ArrayOfTourBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTours">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllToursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="GetAllToursResult" nillable="true" type="q2:ArrayOfTour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMountains">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMountainsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="GetAllMountainsResult" nillable="true" type="q3:ArrayOfMountain" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToursInBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="selectedTourBook" nillable="true" type="q4:TourBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetToursInBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="GetToursInBookResult" nillable="true" type="q5:ArrayOfTour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="tour" nillable="true" type="q6:Tour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTourResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="book" nillable="true" type="q7:TourBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="book" nillable="true" type="q8:TourBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="SaveBookResult" nillable="true" type="q9:TourBook" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="tour" nillable="true" type="q10:Tour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="SaveTourResult" nillable="true" type="q11:Tour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="GetAllCategoriesResult" nillable="true" type="q12:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllToursFiltered">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchText" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="summitReached" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="categoryID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllToursFilteredResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="GetAllToursFilteredResult" nillable="true" type="q13:ArrayOfTour" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q14:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>