Tourenbuch/Connected Services/ServiceReference1/TourenbuchService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TourenbuchService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ITourenbuchService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:EndorsingSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:SecureConversationToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:BootstrapPolicy>
                  <wsp:Policy>
                    <sp:SignedParts>
                      <sp:Body />
                      <sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing" />
                      <sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing" />
                    </sp:SignedParts>
                    <sp:EncryptedParts>
                      <sp:Body />
                    </sp:EncryptedParts>
                    <sp:TransportBinding>
                      <wsp:Policy>
                        <sp:TransportToken>
                          <wsp:Policy>
                            <sp:HttpsToken RequireClientCertificate="false" />
                          </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                          <wsp:Policy>
                            <sp:Basic256 />
                          </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                          <wsp:Policy>
                            <sp:Strict />
                          </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                      </wsp:Policy>
                    </sp:TransportBinding>
                    <sp:SignedSupportingTokens>
                      <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
                          <wsp:Policy>
                            <sp:WssUsernameToken10 />
                          </wsp:Policy>
                        </sp:UsernameToken>
                      </wsp:Policy>
                    </sp:SignedSupportingTokens>
                    <sp:Wss11>
                      <wsp:Policy />
                    </sp:Wss11>
                    <sp:Trust10>
                      <wsp:Policy>
                        <sp:MustSupportIssuedTokens />
                        <sp:RequireClientEntropy />
                        <sp:RequireServerEntropy />
                      </wsp:Policy>
                    </sp:Trust10>
                  </wsp:Policy>
                </sp:BootstrapPolicy>
              </wsp:Policy>
            </sp:SecureConversationToken>
          </wsp:Policy>
        </sp:EndorsingSupportingTokens>
        <sp:Wss11 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust10>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://desktop-9fie55k/TourenbuchService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://desktop-9fie55k/TourenbuchService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://desktop-9fie55k/TourenbuchService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" />
      <xsd:import schemaLocation="https://desktop-9fie55k/TourenbuchService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITourenbuchService_TryConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TryConnection" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_TryConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TryConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetAllBooks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooks" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetAllBooks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBooksResponse" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetAllTours_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTours" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetAllTours_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllToursResponse" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetAllMountains_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMountains" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetAllMountains_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMountainsResponse" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetToursInBook_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToursInBook" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetToursInBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetToursInBookResponse" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_DeleteTour_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTour" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_DeleteTour_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTourResponse" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_DeleteBook_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBook" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_DeleteBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteBookResponse" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_SaveBook_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveBook" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_SaveBook_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveBookResponse" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_SaveTour_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTour" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_SaveTour_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTourResponse" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetAllToursFiltered_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllToursFiltered" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetAllToursFiltered_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllToursFilteredResponse" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="ITourenbuchService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="ITourenbuchService">
    <wsdl:operation name="TryConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourenbuchService/TryConnection" message="tns:ITourenbuchService_TryConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourenbuchService/TryConnectionResponse" message="tns:ITourenbuchService_TryConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourenbuchService/GetAllBooks" message="tns:ITourenbuchService_GetAllBooks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourenbuchService/GetAllBooksResponse" message="tns:ITourenbuchService_GetAllBooks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTours">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourenbuchService/GetAllTours" message="tns:ITourenbuchService_GetAllTours_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourenbuchService/GetAllToursResponse" message="tns:ITourenbuchService_GetAllTours_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMountains">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourenbuchService/GetAllMountains" message="tns:ITourenbuchService_GetAllMountains_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourenbuchService/GetAllMountainsResponse" message="tns:ITourenbuchService_GetAllMountains_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetToursInBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourenbuchService/GetToursInBook" message="tns:ITourenbuchService_GetToursInBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourenbuchService/GetToursInBookResponse" message="tns:ITourenbuchService_GetToursInBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTour">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourenbuchService/DeleteTour" message="tns:ITourenbuchService_DeleteTour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourenbuchService/DeleteTourResponse" message="tns:ITourenbuchService_DeleteTour_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourenbuchService/DeleteBook" message="tns:ITourenbuchService_DeleteBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourenbuchService/DeleteBookResponse" message="tns:ITourenbuchService_DeleteBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveBook">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourenbuchService/SaveBook" message="tns:ITourenbuchService_SaveBook_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourenbuchService/SaveBookResponse" message="tns:ITourenbuchService_SaveBook_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTour">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourenbuchService/SaveTour" message="tns:ITourenbuchService_SaveTour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourenbuchService/SaveTourResponse" message="tns:ITourenbuchService_SaveTour_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourenbuchService/GetAllCategories" message="tns:ITourenbuchService_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourenbuchService/GetAllCategoriesResponse" message="tns:ITourenbuchService_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllToursFiltered">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourenbuchService/GetAllToursFiltered" message="tns:ITourenbuchService_GetAllToursFiltered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourenbuchService/GetAllToursFilteredResponse" message="tns:ITourenbuchService_GetAllToursFiltered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITourenbuchService/GetAllUsers" message="tns:ITourenbuchService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITourenbuchService/GetAllUsersResponse" message="tns:ITourenbuchService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ITourenbuchService" type="tns:ITourenbuchService">
    <wsp:PolicyReference URI="#WSHttpBinding_ITourenbuchService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TryConnection">
      <soap12:operation soapAction="http://tempuri.org/ITourenbuchService/TryConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBooks">
      <soap12:operation soapAction="http://tempuri.org/ITourenbuchService/GetAllBooks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTours">
      <soap12:operation soapAction="http://tempuri.org/ITourenbuchService/GetAllTours" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMountains">
      <soap12:operation soapAction="http://tempuri.org/ITourenbuchService/GetAllMountains" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetToursInBook">
      <soap12:operation soapAction="http://tempuri.org/ITourenbuchService/GetToursInBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTour">
      <soap12:operation soapAction="http://tempuri.org/ITourenbuchService/DeleteTour" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteBook">
      <soap12:operation soapAction="http://tempuri.org/ITourenbuchService/DeleteBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveBook">
      <soap12:operation soapAction="http://tempuri.org/ITourenbuchService/SaveBook" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTour">
      <soap12:operation soapAction="http://tempuri.org/ITourenbuchService/SaveTour" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap12:operation soapAction="http://tempuri.org/ITourenbuchService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllToursFiltered">
      <soap12:operation soapAction="http://tempuri.org/ITourenbuchService/GetAllToursFiltered" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/ITourenbuchService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TourenbuchService">
    <wsdl:port name="WSHttpBinding_ITourenbuchService" binding="tns:WSHttpBinding_ITourenbuchService">
      <soap12:address location="https://desktop-9fie55k/TourenbuchService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://desktop-9fie55k/TourenbuchService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>