Tourenbuch/Connected Services/ServiceReference1/TourenbuchService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TourenbuchDatentypen" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://desktop-9fie55k/TourenbuchService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfTourBook">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TourBook" nillable="true" type="tns:TourBook" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTourBook" nillable="true" type="tns:ArrayOfTourBook" />
  <xs:complexType name="TourBook">
    <xs:sequence>
      <xs:element minOccurs="0" name="BookName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TourBook" nillable="true" type="tns:TourBook" />
  <xs:complexType name="ArrayOfTour">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tour" nillable="true" type="tns:Tour" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTour" nillable="true" type="tns:ArrayOfTour" />
  <xs:complexType name="Tour">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AssignedTourBookIDs" nillable="true" type="q1:ArrayOfint" />
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Report" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SummitReached" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tour" nillable="true" type="tns:Tour" />
  <xs:complexType name="ArrayOfMountain">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mountain" nillable="true" type="tns:Mountain" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMountain" nillable="true" type="tns:ArrayOfMountain" />
  <xs:complexType name="Mountain">
    <xs:sequence>
      <xs:element minOccurs="0" name="height" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mountainName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="prominence" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mountain" nillable="true" type="tns:Mountain" />
  <xs:complexType name="ArrayOfCategory">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategory" nillable="true" type="tns:ArrayOfCategory" />
  <xs:complexType name="Category">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Forename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>